$font-main: 400 16px/0.5em 'Red Hat Display', sans-serif;
$color-main: #000;

$font-header: 400 14px/0.3em Lato, sans-serif;
$color-header: #000;

$font-title-1: 700 48px 'Red Hat Display', sans-serif;
$color-title-1: #000;

$font-title-2: 400 48px 'Red Hat Display', sans-serif;
$color-title-2: #000;

$font-title-3: 400 23px 'Red Hat Display', sans-serif;
$color-title-3: #000;

$font-date: 400 16px Lato, sans-serif;
$color-date: #7B7B7B;

$font-discr: 400 16px Lato, sans-serif;
$color-disr: #565656;

$container-width: 1170px;

