%btn-shared {
    padding: 10px 20px;
    // border: 1px solid $main-color-line;
    min-width: 140px;
    text-transform: uppercase;
    color: $color-main;
    line-height: 14px;
    font-weight: bold;
    background-color: transparent;
}