$font-main: 400 18px Montserrat, sans-serif;
$font-title: 900 24px Montserrat, sans-serif;

$color-main: #2C4058;
$color-black: #000;
$color-white: #fff;
$color-light-blue: #55B7FF;
$color-violet: #7E5AFF;
$color-gradient-right: linear-gradient(30deg, #55B7FF, #7E5AFF);
$color-light-gray: #4B5562;
$color-blue-medium: #CCDDFF;
$color-pink: #F063B8;
$color-pink-middle: #EB4BAB;
$color-gray-dark: #333333;
$color-gray-middle: #4B5D68;
$color-gray-light: #D9D9D9;


$container-width: 1170px;

$adaptive-width-container: calc($container-width / 2);

