@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font: 400 16px/0.5em "Red Hat Display", sans-serif;
  color: #000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-1 {
  font: 700 48px "Red Hat Display", sans-serif;
  color: #000;
}

#header {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar {
  padding: 0;
  min-width: 500px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 15px;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 15px;
}
.navbar ul li {
  position: relative;
  white-space: nowrap;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.navbar ul li .nav-link {
  font: 400 14px/0.3em Lato, sans-serif;
  color: #000;
  text-align: center;
}
.navbar ul li :hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  height: 3px;
  top: 95%;
  right: 35%;
  background-color: #000;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding-top: 100px;
}
.main-home {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/first_screen.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.main-home .title-1 {
  padding-top: 13%;
}